 <!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Realtime COVID19 Tracker - India &copy; <a href="https://codewithmukesh.com">codewithmukesh</a> 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->