<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>COVID19 Tracker - India</title>
    <partial name="_Styles" />
</head>
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Search -->
                    <form class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for State..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="https://codewithmukesh.com" role="button">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">developed by codewithmukesh</span>
                                <img class="img-profile rounded-circle" src="~/img/codewithmukesh_logo.jpg">
                            </a>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">
                    <div style="padding:15px">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <partial name="_Footer" />
        </div>
    </div>
    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>

</html>
