<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>COVID19 Tracker - India</title>
    <partial name="_Styles" />
</head>
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="padding:.5rem 2.5rem!important;">

                    <!-- Topbar Search -->
                    <div class="input-group-append">
                        <button id="countryButton" class="btn btn-primary" type="button">
                            India
                        </button>
                    </div>
                    <div style="padding: 5px;color: gray;">
                        <small>or</small>
                    </div>
                    <form class="d-sm-inline-block navbar-search"  style="width: 200px;">
                        <div class="input-group">
                            <select name="stateSelect2" class="form-control select2bs4 state-selection" id="stateSelect2"></select>
                        </div>

                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="https://codewithmukesh.com" role="button">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">developed by codewithmukesh</span>
                                <img class="img-profile rounded-circle" src="~/img/codewithmukesh_logo.jpg">
                            </a>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">
                    <div style="padding:15px">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <partial name="_Footer" />
        </div>
    </div>
    <partial name="_Scripts" />
    <script src="~/js/initialData.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
